.login-page-wrapper {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.579)),
    url('https://transantin03.akamaized.net/wp-content/uploads/2024/03/marzo24_transantin_interior_nota.jpg');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.login-msg {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #155724;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  padding: 12px 20px;
  text-align: center;
  z-index: 2000;
  display: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card {
  border-radius: 15px;
  background: #fff;
}


.btn-primary {
  background-color: #0d47a1;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #1565c0;
}

.user-box {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 500px;
  min-height: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}